body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #2e2f42;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #4d5ae5;
  text-decoration: none;
}
.logo-header {
  color: #2e2f42;
}
.logo-footer {
  color: #f4f4fd;
}

/* header */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 100%; */
}
.navbar > a {
  margin-right: 76px;
}

.navbar-list {
  display: flex;
  gap: 32px;
  margin-left: auto;

  font-weight: 500;
  color: #2e2f42;
}

.navbar-list-link {
  text-decoration: none;
  color: #2e2f42;
}
.navbar-list-link:hover,
.navbar-list-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
  color: #434455;
}
.contacts > ul {
  display: flex;
  gap: 24px;
}
.contacts-list-link {
  text-decoration: none;
  color: #434455;
}

.contacts-list-link:hover,
.contacts-list-link:focus {
  color: #404bbf;
}

/* header */

/* hero */

.section-one {
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: #2e2f42;
}

.section-one-title {
  max-width: 496px;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: #ffffff;
  text-align: center;
}

.section-one-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;

  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.section-one-button:hover,
.section-one-button:focus {
  background-color: #404bbf;
}

/* section2 */

.section-two {
  padding: 120px 0 120px;
}

.section-two-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-two-paragraph {
}

/* section-three */

.section-three {
  background-color: #f4f4fd;
}

.section-three-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.section-three-item {
  background-color: #ffffff;
}

.section-three-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-three-paragraph {
}

/* section-four */

.section-four-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.section-four-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-four-paragraph {
}

/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}
